<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoyu.mybatisplus.mapper.TaskMapper">

    <select id="selectByName" parameterType="string" resultType="com.luoyu.mybatisplus.entity.Task">
        select * from task where name = #{name};
    </select>

    <update id="updateName">
        update task set name = #{name} where id = #{id};
    </update>
    
</mapper>
