<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoyu.staticmultipledatasources.mapper.db1.UserMapper">

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.luoyu.staticmultipledatasources.entity.User">
        select * from user where id = #{id};
    </select>

    <update id="updateName">
        update user set name = #{name} where id = #{id};
    </update>
    
</mapper>
